*{
    font-size: 16px;
    font-family: Lato;
}
html{
    margin: 0px;
}
body{
    margin: 0px;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    height: 400px;
    justify-content: space-evenly;
}
#logo{
    flex-grow: 3;
    text-align: center;
    margin: 4.5% 0;
}
#logo h3{
    color: #4b647e;
    font-size: 32px;
    font-weight: 300;
    line-height: 28px;
    display: inline;
}
#logo span{
    color: #3d37f1;
    font-weight: 700;
    font-size: 32px;
}
#nav-background{
    background-image: url("./res/images/background header.png");
    background-repeat: no-repeat;
    flex-grow: 5;
}
#header-nav ul{
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-nav ul li{
    
    float: right;
    list-style: none;
    padding: 10px 20px;
    font-weight: 700;
    color: #ffffff;
}
#login{
    margin-left: -25px;
    text-align: center;
    width: 214px;
    height: 72px;
    border-radius: 36px;
    background-color: #ff8923;
    box-shadow: 0px 5px 50px -5px #ff8923;
}
#login span{
    vertical-align: middle;
    padding-top: 23%;
}
#wave-btn{
    width: 204.8px;
    height: 61.6px;
    border-radius: 38px;
    background-color: #3d37f1;
    box-shadow: 0px 10px 50px -5px #3d37f1;
    border: none;   
    color: #ffffff;
    font-weight: 400;
    font-family: Poppins;
}
#wave-btn-position{
    margin-left: 31%;
    margin-right: 0px;
    margin-top: 70px;
}
#home_1{
    display: flex;
}
.side-by-side-left{
    flex-grow: 1;
}
.side-by-side-right{
    flex-grow: 1;
}
.heading{
    color: #534d4d;
    font-family: Lato;
    font-size: 68px;
    font-weight: 700;
    margin-left: 30%;
}
.side-by-side-left p{
    margin-left: 30%;
}
.side-by-side-right img{
    scale: 0.8;
}
.side-by-side-left p{
    color: #534d4d;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
}
                        /* Our services*/
#our-services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    grid-template-areas: 
    ". head head head ."
    ". website-ui re-design application-ui ."
    ". mobile-app-ui web-app-ui web-elements ."
    ;
    background-color: #fbfcfd;
    margin-bottom: 150px;
}
.service-box{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}
#head{
    grid-area: head;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}
#website-ui{
    grid-area: website-ui;
    background-image: linear-gradient(0deg, #dfa871, #fab977);

}
#re-design{
    grid-area: re-design;
    background-image: linear-gradient(0deg, #2394b8, #41e9e2);
}
#application-ui{
    grid-area: application-ui;
    background-image: linear-gradient(0deg, #473865, #69529f);
}
#mobile-app-ui{
    grid-area: mobile-app-ui;
    background-image: linear-gradient(0deg, #0962c5,#4285d2);
}
#web-app-ui{
    grid-area: web-app-ui;
    background-image: linear-gradient(0deg, #564fd6,#a4a1f6);
}
#web-elements{
    grid-area: web-elements;
    background-image: linear-gradient(0deg, #9a4242,#fe8088);
}
#head h3{
    color: #3d37f1;
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
}
#head h2{
    color: #5a5454;
    font-family: Lato;
    font-size: 40px;
    font-weight: 400;
}
#head pre{
    color: #747474;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}
.read-more-btn{
    width: 131px;
    height: 45px;
    border-radius: 23px;
    background-color: #ffffff;
    border: none;
}
.service-box-img{
    flex: 5;
    position: relative;
    top: 20%;
}
.service-box-heading{
    flex: 1;
}
.service-box-heading h3{
    font-size: 22px;
}
.service-box-text{
    flex: 2;
}
.service-box-btn{
    flex: 2;
}