*{
    font-size: 16px;
    font-family: Lato;
}
html{
    margin: 0px;
}
body{
    margin: 0px;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    height: 400px;
    justify-content: space-evenly;
}
#logo{
    flex-grow: 3;
    text-align: center;
    margin: 4.5% 0;
}
#logo h3{
    color: #4b647e;
    font-size: 32px;
    font-weight: 300;
    line-height: 28px;
    display: inline;
}
#logo span{
    color: #3d37f1;
    font-weight: 700;
    font-size: 32px;
}
#nav-background{
    background-image: url("./res/images/background header.png");
    background-repeat: no-repeat;
    flex-grow: 5;
}
#header-nav ul{
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-nav ul li{
    
    float: right;
    list-style: none;
    padding: 10px 20px;
    font-weight: 700;
    color: #ffffff;
}
#login{
    margin-left: -25px;
    text-align: center;
    width: 214px;
    height: 72px;
    border-radius: 36px;
    background-color: #ff8923;
    box-shadow: 0px 5px 50px -5px #ff8923;
}
#login span{
    vertical-align: middle;
    padding-top: 23%;
}
#wave-btn{
    width: 204.8px;
    height: 61.6px;
    border-radius: 38px;
    background-color: #3d37f1;
    box-shadow: 0px 10px 50px -5px #3d37f1;
    border: none;   
    color: #ffffff;
    font-weight: 400;
    font-family: Poppins;
}
#wave-btn-position{
    margin-left: 31%;
    margin-right: 0px;
    margin-top: 70px;
}
#home_1{
    display: flex;
}
.side-by-side-left{
    flex-grow: 1;
}
.side-by-side-right{
    flex-grow: 1;
}
.heading{
    color: #534d4d;
    font-family: Lato;
    font-size: 68px;
    font-weight: 700;
    margin-left: 30%;
}
.side-by-side-left p{
    margin-left: 30%;
}
.side-by-side-right img{
    scale: 0.8;
}
.side-by-side-left p{
    color: #534d4d;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
}
                        /* Our services*/
#our-services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    grid-template-areas: 
    ". head head head ."
    ". website-ui re-design application-ui ."
    ". mobile-app-ui web-app-ui web-elements ."
    ;
    background-color: #fbfcfd;
    padding-bottom: 100px;
}
.service-box{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}
#head{
    grid-area: head;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}
#website-ui{
    grid-area: website-ui;
    background-image: linear-gradient(0deg, #dfa871, #fab977);

}
#re-design{
    grid-area: re-design;
    background-image: linear-gradient(0deg, #2394b8, #41e9e2);
}
#application-ui{
    grid-area: application-ui;
    background-image: linear-gradient(0deg, #473865, #69529f);
}
#mobile-app-ui{
    grid-area: mobile-app-ui;
    background-image: linear-gradient(0deg, #0962c5,#4285d2);
}
#web-app-ui{
    grid-area: web-app-ui;
    background-image: linear-gradient(0deg, #564fd6,#a4a1f6);
}
#web-elements{
    grid-area: web-elements;
    background-image: linear-gradient(0deg, #9a4242,#fe8088);
}
#head h3{
    color: #3d37f1;
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
}
#head h2{
    color: #5a5454;
    font-family: Lato;
    font-size: 40px;
    font-weight: 400;
}
#head pre{
    color: #747474;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}
.read-more-btn{
    width: 131px;
    height: 45px;
    border-radius: 23px;
    background-color: #ffffff;
    border: none;
}
.service-box-img{
    flex: 5;
    position: relative;
    top: 20%;
}
.service-box-heading{
    flex: 1;
}
.service-box-heading h3{
    font-size: 22px;
}
.service-box-text{
    flex: 2;
}
.service-box-btn{
    flex: 2;
}
#fill-1{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}
#fill-1 div:nth-child(1){
    text-align: right;
    flex: 1;
}
#fill-1 div:nth-child(2){
    flex: 1; 
    margin-left: 5%;
    margin-top: 10%;
}
#portfolio{
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    padding-top: 200px;
    padding-bottom: 200px;
    flex-wrap: wrap;
}
#portfolio-menu{
    flex: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20%;
}
#portfolio-galery{
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "img1 img2 ."
        "img3 img4 ."
        "img5 img6 ."
    ;
    grid-row-gap: 34px;
    grid-column-gap: 30px;
}
#portfolio-menu h2{
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
}
#portfolio-menu h4{
    color: #747474;
    font-family: Roboto;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight: normal;
}
.portfolio-menu-btn{
    border: none;
    width: 210px;
    margin: 25px 0;
    background-color: transparent;
    text-align: left;
    padding: 5px 0;
    font-family: Roboto;
    font-size: 22px;
}
.selected-portfolio-btn{
    border-bottom: 1px solid #3d37f1;
    color: #3d37f1;
}
#portfolio-galery img {
    width: 100%;
}

#portfolio-2{
    display: flex;
    flex-direction: column;
    padding: 200px 20px;
}
#portfolio-2-head{
    grid-area: head;
    text-align: center;
}
#portfolio-2-head h2{
    font-size: 30px;
}
#portfolio-2-boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.portfolio-2-box{
    text-align: center;
    box-shadow: 0 40px 40px rgba(197, 195, 249, 0.15);
    border-radius: 45px;
    background-color: #ffffff;
    width: 340px;
    height: 340px;
    margin: 10px;
}
#portfolio-2-box1 button{
    background-image: linear-gradient(135deg, #ad92fc,#6752f3);
}
#portfolio-2-box2 button{
    background-image: linear-gradient(135deg, #ff93a5,#ff64a3);
}
#portfolio-2-box3 button{
    background-image: linear-gradient(135deg, #fbc6a0,#ff8b4e);
}
.portfolio-2-box button{
    border: none;
    width: 185px;
    height: 185px;
    border-radius: 45px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 38px;
    color: #ffffff;
    font-weight: bold;
}
.portfolio-2-box h3{
    margin-top: 100px;
}
#about-us-container{
    background-image: url("./res/images/about-us-background.png");
    background-repeat: no-repeat;
    padding-top: 125px;
    padding-bottom: 130px;
}
#about-us{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
#about-us h2{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0px;
}
#about-us p:nth-child(2){
    color: rgba(255, 255, 255, 0.24);
    font-family: Roboto;
    font-size: 18px;
}
#about-us-member{
    margin-top: 160px;
}
#about-us-member div{
    width: 47px;
    height: 47px;
    background-color: #ff992e;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    color: #ffffff;
    position: relative;
    bottom: 30px;
    left: 80px;
}
#about-us p:nth-child(4){
    color: #d6d6d6;
    font-family: Roboto;
    text-align: center;
}
#about-us h3{
    color: #8f8bff;
    font-family: Roboto;
    font-size: 24px;
}
#about-us h4{
    color: #d6d6d6;
    font-family: Roboto;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 150px;
}
#about-us hr{
    width: 100%;
    color: #323760;
    opacity: 0.33;
}
#about-us h5{
    color: rgba(255, 255, 255, 0.24);
    font-family: Roboto;
    font-size: 18px;
    align-self: flex-start;
    margin-top: 50px;
}
#about-us-section2{
    align-self: flex-start;
    width: 100%;
    position: relative;
}
#about-us-section2 p{
    color: #ffffff;
    font-family: Roboto;
    font-size: 39px;
    margin: 0;
}
#about-us-section2 button{
    width: 322px;
    height: 84px;
    border-radius: 38px;
    background-color: #3d37f1;
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
}
#fill-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fill-2-box{
    position: relative;
}
.fill-2 
.fill-2-imgs{
    position: absolute;
    z-index: -1;
}